<% if @question.errors.any? %>
  <section id="errors">
    <h2><%= pluralize(@question.errors.count, "error")%> prohibited this question from being saved: </h2>
    <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<h1>Update Question</h1>
<button class="btn btn-info" id="addNewChoice">Add Choice</button>
<button class="btn btn-info" id="deleteNewChoice">Delete Choice</button>

<%= form_for [@event, @question] do |f| %>
  <%= f.text_field :content, placeholder: "Add your question", class: 'form-control' %>
  <div id="choices-div">
      <%= f.fields_for :choices do |choice| %>
        <%= choice.text_field :content, id:"choice-entry", class: 'form-control', placeholder: 'Choice' %>
      <% end %>
  </div>
  <%= f.submit "Update", class: 'form-control btn btn-info btn-fill' %>
<% end %>