<% if @question.errors.any? %>
  <section id="errors">
    <h4><%= pluralize(@question.errors.count, "error")%> prohibited this question from being saved: </h4>
    <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<div class='new-question-wrapper'>
  <h3>Add your well-constructed question and your revealing answers. Click 'Save' when you're done.</h3>

  <%= form_for [@event, @question], html: { class: 'form-inline' } do |f| %>
    <div class='form-group'>
      <%= f.text_field :content, placeholder: "Question", class: 'form-control' %>
      <div id="choices-div" class='form-group'>
          <%= f.fields_for :choices do |choice| %>
            <%= choice.text_field :content, id:"choice-entry", class: 'form-control', placeholder: 'Answer' %>
          <% end %>
      </div>
      <%= f.submit "Save", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <button class="btn btn-default btn-block" id="addNewChoice">Add Another Answer Box</button><br>
  <button class="btn btn-default btn-block" id="deleteNewChoice">Delete Last Answer</button>
</div>