<div class="container">
  <div class="col-sm-6">
    <% if @question.errors.any? %>
      <section id="errors">
        <h2><%= pluralize(@question.errors.count, "error")%> prohibited this question from being saved: </h2>
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <%= form_for [@event, @question] do |f| %>
      <%= f.text_field :content, class: 'form-control' %>
      <%= f.submit "Add", class: 'form-control btn btn-info btn-fill' %>
    <% end %>
  </div>
</div>
