<div id="pusher-key" style="display:none;"><%= Pusher.key %></div>

<h4><%= @question.content %></h4>

<% if @question.choices.any? %>
  <% @question.choices.each do |choice| %>
  	<%= div_for choice do %>
    	<%= choice.content %>
    	<%= link_to 'Delete Choice', choice, method: :delete, data: {confirm: "Are you sure?"} %>
    	<p class='vote-count'>
    		Votes: <%= choice.votes.count || 0 %>
    	</p>
  	<% end %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= choice.votes.count || 0 %>%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>
  <% end %>

  <% if any_votes? @question %>
  	<%= link_to 'Clear Votes', clear_votes_path, data: {confirm: "Are you sure? This will delete all votes for all of this question's choices."} %>
  <% end %>
<% end %>

<%= link_to 'Add Choice', new_question_choice_path(@question), class: 'btn btn-primary' %>
<%= link_to "Back to #{@question.event.title}", event_path(@question.event.id), class: 'btn btn-primary' %>
