<div id="pusher-key" style="display:none;"><%= Pusher.key %></div>

<div class='question-show-page-wrapper'>
  <section>
    <h1><%= @question.event.title %></h1>
  </section>

  <div id="event-id" style="display:none;"><%= @question.event.id %></div>

  <div class='question-show-page-poll-wrapper'>
    <h2>
    <%= link_to 'Back', event_path(@question.event.id), class: "glyphicon glyphicon-chevron-left btn btn-default btn-sm" %><br>
      <%= @question.content %>
    </h2>

    <% if @question.choices.any? %>
      <% @question.choices.each do |choice| %>
        <%= div_for choice, 'data-votecount' => choice.votes.count || 0 do %>

          <%= choice.content %>
          <div class="progress">
            <div class="<%= graph_colour %>" role="progressbar"  style="width: <%= (((choice.votes.count.to_f)) / ((total_votes(choice.question).to_f) )* 100 ).to_i || 0 if choice.votes.any? %>%">
            </div>
          </div>
          <p class='vote-count' >
            Votes: <%= choice.votes.count || 0 %>
          </p>
          <%= link_to 'Delete Choice', choice, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-default btn-sm' %>
        <% end %>
      <% end %>
      <%= link_to 'Clear Votes', clear_votes_path, data: {confirm: "Are you sure? This will delete all votes for all of this question's choices."}, class: 'btn btn-sm btn-default' %><br>
    <% end %>

    <%= link_to 'Add New Choice', new_question_choice_path(@question), class: 'btn btn-default btn-sm add-choice-button' %>

    <div>
      <%= link_to "Push Question to Audience", { controller: :questions, action: :publish_question, question: @question}, class: 'btn btn-primary btn-sm pull-right' %>
    </div>
  </div>

</div>