<% if @choice.errors.any? %>
  <section id="errors">
    <h2><%= pluralize(@choice.errors.count, "error")%> prohibited this choice from being saved: </h2>
    <ul>
      <% @choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for [@question, @choice] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Add Choice" %>
<% end %>