<div class="container">
  <div class="col-sm-6">
  <h2>Forgot your password?</h2>
    <div class="form-group">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
			  </div>

			  <br>

			  <div class="actions">
			    <%= f.submit "Send me reset password instructions", class: 'form-control btn btn-info btn-fill' %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
    </div>
  </div>
</div>