<%= link_to "Sign up", new_user_registration_path %>

<h1>First Question</h1>

<%= link_to "Create Event", "" %>

<%= form_for @event do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "Add question" %>
<% end %>

<%= form_for @question do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>
