<div class='events-index-wrapper'>

	<%= render 'partials/here_to_vote' %>

	<% if user_signed_in? %>
		<section class='events-signed-in-wrapper'>
			<% if current_user.events.count == 0 %>
				<h3 id='no-events-notice' class='well'>You don't have any events yet - why not add one below?</h3>
			<% end %>

			<%= form_for @event, html: { class: 'new_event' } do |f| %>
			  <div class='form-group'>
			    Event title: <%= f.text_field :title, class: "form-control" %>
			    Description (optional): <%= f.text_field :description, class: "form-control" %>
			    <%= f.submit "Add Event", class: "btn btn-primary" %>
			  </div>
			<% end %>

			<ul class='events_list list-group'>
				<% @events.each do |event| %>
					<li class='list-group-item row'>
						<div class='col-xs-6'>
							<%= link_to event_path(event) do %>
								 <%= event.title %><br>
								 <%= event.description %>
							<% end  %>
						</div>
						<div class='col-xs-6'>
							<%= link_to 'Edit Event', edit_event_path(event), class: 'btn btn-sm btn-default pull-right' %>
							<%= link_to 'Delete', event, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-default btn-sm pull-right' %>
						</div>
					</li>
			  <% end %>
			</ul>
		</section>

	<% else %>

		<section class='events-signed-out-wrapper'>

		  <div class="jumbotron">
		  	<div class='container'>
			    <h1>We have great live polling tools</h1>
			    <p>More subtitle info goes here</p>
					<% if current_user %>
			    	<%= link_to "Create your event today", new_event_path, class: "btn btn-primary btn-lg" %>
			    <% else %>
			    	<%= link_to "Create your account today", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			    <% end %>
		    </div>
		  </div>

		  <div class="jumbotron">
		  	<div class='container'>
			    <h2>Do you want to get instant feedback from your audience today?</h4>
			    <ul class="graph">
		        <p class="graph_choice">Yes, sounds great!</p>
			        <li>
				        <div class="bar one" style="width: 79.9993px; overflow: hidden;"><span></span>
				        </div>
				      </li>

			      <p class="graph_choice">Let me think about it</p>
			        <li>
			        	<div class="bar two" style="width: 58.0482px; overflow: hidden;"><span></span>
			        	</div>
			        </li>

			      <p class="graph_choice">No, this isn't for me</p>
			      	<li>
			      		<div class="bar three" style="width: 76.0156px; overflow: hidden;"><span></span>
			      	</div>
			      </li>
		      </ul>
		    </div>
			</div>

		</section>
	<% end %>