<% if user_signed_in? %>
	<% if current_user.events.count == 0 %>
		<h2 id='no-events-notice'>You don't have any events yet - why not add one below?</h2>
	<% end %>

	<%= form_for @event, html: { class: 'form-inline new_event' } do |f| %>
  	<div class='form-group'>
    	<%= f.text_field :title, class: "form-control" %>
    	<%= f.submit "Add Event", class: "btn btn-primary" %>
  	</div>
	<% end %>
		
	<ul id='events_list'>
		<% @events.each do |event| %>
				<%= link_to event_path(event) do %>
					<li> <%= event.title %> </li>
				<% end  %>
				<%= link_to 'Delete', event, method: :delete, data: {confirm: "Are you sure?"} %>
				<%= link_to 'Edit Event', edit_event_path(event) %>
	  <% end %>
	</ul>

<% else %>

	<div id='event_id_wrapper'>
		<h2>
			Event Participant?
			<a href='#' type="text/html" data-toggle="modal" data-target=".event_id_modal">Click Here</a>
		</h2>

		<div class="modal fade event_id_modal" tabindex="-1" role="dialog" aria-labelledby="eventIdModal">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		    	<div class='container-fluid'>
			      
			      <%= form_tag({controller: 'events', action: 'parse_event_id'}, method: 'get', class: 'form-inline') do %>
			      	<div class='form-group'>
				      	<%= label_tag(:unparsed_event_id, "Enter Event Id:") %>
				      	<%= text_field_tag(:unparsed_event_id, nil, class: 'form-control') %>
				      	<%= submit_tag 'Go', class: 'btn btn-primary' %>
			      	</div>
			      <% end %>

		      </div>
		    </div>
		  </div>
		</div>
	</div>

  <div class="jumbotron">
  	<div class='container'>
	    <h1>We have great live polling tools :)</h1>
	    <p>More subtitle info goes here</p>
			<% if current_user %>
	    	<%= link_to "Create your event today :)", new_event_path, class: "btn btn-primary btn-lg" %>
	    <% else %>
	    	<%= link_to "Create your account today :)", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	    <% end %>
    </div>
  </div>

  <div class="jumbotron">
  	<div class='container'>
	    <p>Flow diagram of our customer process.</p>
    </div>
	</div>
<% end %>
