<% if @event.errors.any? %>
  <section id="errors">
    <h2><%= pluralize(@event.errors.count, "error")%> prohibited this event from being saved: </h2>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<form class='form-inline'>
  <div class='form-group'>
    <%= form_for @event do |f| %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.submit "Add Event", class: "btn btn-primary" %>
    <% end %>
  </div>
</form>