<h1><%= @event.title %></h1> <%= link_to "voting page", vote_event_path(@event) %>
<ul>
  <% if @event.questions.any? %>
    <% @event.questions.each do |question| %>
      <li>
        <%= link_to question.content, question_path(question) %>
        <%= link_to "Publish", { controller: :questions, action: :publish_question, question: question} %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Add Question', new_event_question_path(@event) %>
