<h1><%= @event.title %></h1>

<div id="event-id" style="display:none;"><%= @event.id %></div>
<div id="pusher-key" style="display:none;"><%= Pusher.key %></div>

<section class="space-50"> </section>

<div class="holding-message">
  <h2>Awaiting Question</h2>
  <h4><%= @event.description %></h4>
</div>

<div class="container question">
  <div class="col-sm-6">
    <h2>Question <span id="question-number">?</span> of <%= @event.questions.count %>:</h2>
    <h1 id="question-title"></h1>
    <form class="question-form">
      <ul>
      <div id="dvOptions"></div>
      </ul>
    <button id="choice-submit" type="submit" class="btn btn-primary">Submit Answer</button>
    </form>
  </div>
</div>

<script>
  $('#choice-submit').click(function() {
    event.preventDefault();
    console.log('clicked submit');
    var choiceValue = $( "input:radio[name=choice]:checked" ).val();
    $.post('/votes',{ choice: choiceValue });
    $('.question').hide();
    $('.holding-message').show();
  });

  function buildQuestion(data) {
    $('.question').show();
    $('.holding-message').hide();
    $('#testing').text(data.test);
    $('#question-number').text(data.question.question_number);
    $('#question-title').text(data.question.content);
    var $choiceOptions = $('#dvOptions');
    $choiceOptions.empty();
    for ( var i = 0; i < data.choices.length; i++) {
       $choiceOptions.append($('<li><input type="radio" name="choice" value="'
       + data.choices[i].id + '"><label for="choice">'
       + data.choices[i].content + '</label></li>'));
      };
  };
</script>
