<div class='voting-page-wrapper'>

  <section>
    <h1><%= @event.title %></h1>
    <h4><%= @event.description %></h4>
  </section>

  <div id="event-id" style="display:none;"><%= @event.id %></div>
  <div id="pusher-key" style="display:none;"><%= Pusher.key %></div>

  <section class="space-50"></section>

  <div class="holding-message">
    <h5>Awaiting Question</h5>
    <div id="canvasloader-container"></div>
  </div>

  <div class="container question">
    <h3>Question <span id="question-number">?</span> of <%= @event.questions.count %>:</h3>
    <h2 id="question-title"></h2>
    <form class="question-form">
      <ul class='list-group'>
        <div id="dvOptions"></div>
      </ul>
      <button id="choice-submit" type="submit" class="btn btn-primary btn-lg">Submit Answer</button>
    </form>
  </div>
</div>