<h1><%= @event.title %></h1>

<div id="event-id" style="display:none;"><%= @event.id %></div>
<div id="pusher-key" style="display:none;"><%= Pusher.key %></div>

<section class="space-50"> </section>

<div class="holding-message">
  <h2>Awaiting Question</h2>
  <h4><%= @event.description %></h4>
</div>

<div class="container question">
  <div class="col-sm-6">
    <h2>Question <span id="question-number">?</span> of <%= @event.questions.count %>:</h2>
    <h1 id="question-title"></h1>
    <form class="question-form">
      <ul>
      <div id="dvOptions"></div>
      </ul>
    <button id="choice-submit" type="submit" class="btn btn-primary">Submit Answer</button>
    </form>
  </div>
</div>
