<!DOCTYPE html>
<html>
  <head>
    <title>LiveVoting</title>
    <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "partials/navbar" %>
    <div class='container'>

      <%= render partial: "shared/flash_messages", flash: flash %>

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
