<!DOCTYPE html>
<html>
  <head>
    <title>LiveVoting</title>
    <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
    <script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class ="<%= controller_name %> <%= action_name %>">
    <%= render partial: "partials/navbar" %>
    <div class='container'>

      <%= render partial: "shared/flash_messages", flash: flash %>

      <%= yield %>
    </div>
  </body>
</html>
